<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/public/CSS/detailpage.css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js">
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상세페이지</title>
</head>

<body>
  <!-- 헤더 -->
  <%- include("basicHeader") -%>
    <div class="main-wrap">
      <main>
        <div class="board-info-wrap">
          <div class="category">
            <%= data.category %>
          </div>
          <div class="title">
            <%= data.title %>
          </div>
          <div class="board-info-box">
            <div class="board-info">
              <div class="nickname">
                <%= data.nickname %>
              </div>
              <span class="day">
                <%= data.updateAt %>
              </span>
              <span class="likecount">
                <%= data.likeCount %>
              </span>
            </div>
            <div class="mybtn">
              <button>수정</button>
              <button>삭제</button>
            </div>
          </div>
        </div>
        <div class="imgbox">
          <% data.img_url.forEach((image,i)=>{ %>
            <img src="http://localhost:3000/uploads/<%= image[i] %>" alt="등록된 이미지" />
            <% }) %>
        </div>

        <div>내용</div>
        <div class="likebox">
          <img src="/public/image/binheart.svg" alt="bin" />
          <span>좋아요</span>
        </div>
      </main>
    </div>
</body>


</html>