<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/public/CSS/detailpage.css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상세페이지</title>
</head>

<body>
  <!-- 헤더 -->
  <%- include("basicHeader") -%>
    <div class="main-wrap">
      <main data-board-id="<%= data.id %>" data-like-count="<%= data.likeCount %>" data-liked-by-user="<%= data.likedByUser %>">
        <div class="board-info-wrap">
          <div class="category">
            <%= data.categoryName %>
          </div>
          <div class="title">
            <%= data.title %>
          </div>
          <div class="board-info-box">
            <div class="board-info">
              <div class="nickname">
                <%= data.nickname %>
              </div>
              <span class="day">
                <%= data.updatedAt %>
              </span>
              <span class="likecount">
                좋아요수 <%= data.likeCount %>
              </span>
            </div>
            <% console.log(data.userCheck)%>
              <% if(data.userCheck===true){ %>
                <div class="mybtn">
                  <a href="/move/edit/<%= data.id %>">
                    <button>수정</button>
                  </a>
                  <button onclick="deleteBoard('<%= data.id %>')">삭제</button>
                </div>
                <% } %>
          </div>
        </div>


        <% if(data.img_url!=="" ){ %>
          <div class="imgbox">
            <% data.img_url.split(",").forEach((image)=>{ %>
              <img src="http://localhost:3000/uploads/<%= image %>" alt="등록된 이미지" />
              <% }) %>
          </div>
          <% } %>

            <div class="content">
              <div>내용</div>
              <div class="sharebox">
                <div class="likebox">
                  <% if(data.likedByUser){ %>
                    <img class="heart" src="/public/image/fillheart.svg" alt="fill"
                      onclick="countFavorite('<%= data.id %>')" />
                    <% }else{ %>
                      <img class="heart" src="/public/image/binheart.svg" alt="bin"
                        onclick="countFavorite('<%= data.id %>')" />
                      <% } %>

                        <span>좋아요</span>
                </div>
                <img src="/public/image/share.svg" alt="share" onclick="clip()" />
              </div>

            </div>
            <div class="inventorywrap">
              <div class="inventory">
                <a href="http://localhost:3000/">목록</a>
              </div>

              <div class="declaration">
                신고
              </div>
            </div>


      </main>
    </div>
</body>
<script src="/public/JS/detailpage.js"></script>
</html>